.displayFlex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  padding: 0rem 2rem 5rem 2rem;
}

.centerItems {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
 
}

.btnUpload{
  width: 20.19vw;
  display: flex;
  align-items: center;
  
}
.cardLabel {
  width: 100%;
  margin-bottom: 1rem;
}

.darkBlock {
  width: 100%;
  background-color:#FCEDEB;
  padding: 2rem 0;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  margin-bottom: 6%;
}